.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
html, body {
    height: 100%;
}

body {
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: arial,helvetica,freesans,sans-serif;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

.container {
    position: relative;
    height: 100%;
    padding: 0;
}

#right_container {
    height: 100%;
    min-height: 100%;
}

#left_container {
    background-color: #4d78e8;
    color: #fff;
    width: 35%;
    left: 0;
    float: left;
}

#right_container {
    background-color: #fff;
    width: 65%;
    right: 0;
    float: right;
}

#left, #right {
    position: fixed;
    width: 50%;
    height: 100%;
    top: 0;
}

#left {
    background-color: #4d78e8;
    left: 0;
}

#right {
    background-color: #fff;
    right: 0;
}

#title {
    float: right;
    margin-right: 20px;
    margin-top: 5px;
    font-size: 60px;
}

#menu {
    margin-top: 10px;
    list-style: none;
    font-size: 25px;
    margin-right: 20px;
}

.clear {
    clear: both;
}

#menu li {
    text-align: right;
    margin-top: 5px;
}

#menu li a {
    color: #fff;
}

#menu li a:hover,a:focus,#mais {
    text-decoration: none;
    outline: 0;
}

.active:before {
    border-color: rgba(0, 0, 0, 0) #fff;
    border-width: 9px 9px 9px 0;
    bottom: auto;
    left: 208px;
    top: 10px;
    border-style: solid;
    position: absolute;
    content: "";
}

.active {
    position: relative;
    margin-left: 16px;
}

#stars {
    float: left;
}

#forks {
    margin-left: 98px;
}

#contribs {
    float: right;
}

#right_container > .header {
    margin-left: 15px;
    margin-right: 15px;
    height: 65px;
}

#right_container > .header > p {
    font-size: 23px;
    color: #9f9f9f;
}

#commits {
    margin-top: 22px;
    margin-left: 30px;
    margin-right: 15px;
}

.panel {
    border-radius: 0;
    margin-bottom: 10px;
}

.commit-date {
    float: right;
}

.grey-box {
    float: left;
    height: 40px;
    background-color: #666;
    width: 40px;
    border-radius: 3px;
    margin-top: 6px;
}

.panel-body {
    padding: 4px 12px 5px 6px;
    color: #9F9F9F;
}

.commit-main {
    width: 300px;
    float: left;
    margin-left: 20px;
}

.commit-title {
    font-weight: bold;
    color: #666;
    font-size: 20px;
}

.commit-date {
    font-size: 12px;
    margin-top: 6px;
}

.commit-author {
    font-size: 16px;
}

#carregar {
    background-color: #ccc;
    color: #fff;
    text-align: center;
    padding: 6px;
    margin-right: 15px;
    margin-left: 30px;
    font-size: 12px;
}

.navbar-text {
    margin-right: 0;
}

.header {
    margin-top: 8px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 779px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
